@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalBlind {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  animation: fade 0.1s ease both;
  animation-delay: 0.12s;
}
.ModalContainer {
  background-color: white;
  position: relative;
  width: 92% !important;
  height: 85vh;
  right: 0;
  padding: 0px !important;
  z-index: 7;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  animation: zoom 0.2s ease both;
  overflow: auto;
}
.ImageModalContainer {
  height: initial !important;
  padding: 0 !important;
  width: initial !important;
}
.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px 25px;
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.ModalTitle {
  font-weight: 500;
}
.ModalCloseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
  color: rgb(235, 0, 0);
}
.ModalBody {
  height: 100%;
  overflow: auto;
  padding: 25px !important;
  padding-top: 80px !important;
}
@media screen and (min-width: 800px) {
  .ModalContainer {
    height: initial !important;
    animation: zoom 0.2s ease;
  }
}
