@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalBlind {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  animation: fade 0.1s ease both;
  animation-delay: 0.1s;
}
.ModalContainer {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 25px !important;
  right: 0;
  z-index: 7;
  border-radius: 5px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.2s ease both;
}
.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ModalTitle {
  font-weight: 500;
}
.ModalCloseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
  color: rgb(235, 0, 0);
}
@media screen and (min-width: 800px) {
  .ModalContainer {
    height: 70vh;
    animation: zoom 0.2s ease;
  }
}
@media screen and (min-width: 2560px) {
  .ModalContainer {
    height: 30vh;
  }
}
