.notificationsContainer {
  padding: 15px;
  padding-bottom: 55px;
  background-color: white;
}
.notificationsHeader {
  position: relative;
}
.notificationsHeaderTitle {
  font-size: 16px;
  color: black;
  display: inline-block;
  margin-bottom: 10px;
}
.notificationsSendBtn {
  display: inline-block;
  background-color: #29abe2;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50px;
  position: absolute;
  right: 0;
  display: inline-flex;
  align-items: center;
  cursor: none;
}
.notificationsSendBtnPlus {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.notificationContainer {
  padding: 15px 10px 15px 25px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
.notificationMessage {
  font-size: 14px;
}
.notificationDate {
  color: #999999;
  margin-top: 8px;
  font-size: 12px;
  position: relative;
}
.notificationDeleteBtn {
  color: #999999;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: none;
  transition: 0.1s ease;
}
.notificationDeleteBtn:hover {
  color: red;
}
.notificationDeleteBtn:active {
  color: black;
}
.notificationIcon {
  color: #29abe2;
  position: absolute;
  left: 5px;
  top: 18px;
}
@media screen and (min-width: 800px) {
  .notificationsContainer {
    padding: 10px;
    width: 25%;
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 5px;
    background-color: inherit;
  }
  .notificationContainer {
    padding: 5px 10px 5px 20px;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
    box-shadow: none;
  }
  .notificationsCardContainer {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
    height: 510px;
    margin-top: 10px;
  }
  .notificationIcon {
    color: #29abe2;
    position: absolute;
    left: 0px;
    top: 8px;
  }
  .notificationsSendBtn {
    display: inline-block;
    background-color: #29abe2;
    color: white;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 50px;
    position: absolute;
    right: 0px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  .notificationDeleteBtn {
    cursor: pointer;
  }
}
