.soulsWonContainer {
  background-color: white;
  margin-top: 50px;
  overflow: auto;
  position: relative;
}
.soulsWonCardContainer {
  padding: 100px 10px 20px;
  padding-bottom: 125px;
  position: relative;
  left: 0;
}
.soulsWonAddSoulBtn {
  display: none;
}
.totalSoulsWonContainer {
  float: right;
}
.totalSoulsWonCount {
  display: inline-block;
  margin-left: 8px;
  color: black !important;
  font-weight: bold;
}
.emptyDisplayText {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-style: italic;
}
@media screen and (min-width: 800px) {
  .soulsWonContainer {
    background-color: inherit;
    width: 100%;
  }
  .soulsWonCardContainer {
    padding: 50px 0px 10px;
    margin-top: 0px;
    border-top: none;
  }
  .soulsWonAddSoulBtn {
    display: inline-flex;
    background-color: #29abe2;
    color: white;
    font-size: 14px;
    padding: 9px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease;
  }
  .soulsWonAddSoulBtn:active {
    background-color: black;
  }
  .soulsWonAddSoulBtnIcon {
    margin-left: 10px;
    font-size: 16px;
  }
}
