.testimoniesPageContainer {
  background-color: white;
  margin-top: 50px;
}
.testimonyTabMenuMobile {
  margin-left: 0px !important;
}
.addTestimonyBtn {
  display: inline-flex !important;
  background-color: #29abe2;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.testimoniesCardContainer {
  padding: 55px 10px;
}
@media screen and (min-width: 800px) {
  .testimoniesPageContainer {
    background-color: inherit;
  }
  .addTestimonyBtn {
    display: none !important;
  }
  .testimoniesCardContainer {
    padding: 50px 0px 10px;
  }
}
